<launch>

  <!-- General args -->
  <arg name="replay" default="true" doc="Whether to process live or replayed data"/>
  <arg name="outdoor" default="true" doc="Decide which set of parameters to use."/>
  <arg name="rviz" default="true" doc="Visualize results with RViz."/>
  <arg name="os_driver" default="false" doc="If true, activate os_node."/>
  <arg name="gps" default="false" doc="If true, use GPS data to calibrate SLAM output. Otherwise, provide calibration."/>
  <arg name="tags_topic" default="tag_detections" doc="topic from which to get the tag measurements."/>
  <!-- Ouster driver parameters -->
  <arg name="sensor_hostname" default="" doc="Hostname or IP in dotted decimal form of the sensor"/>
  <arg name="udp_dest" default="" doc="Hostname or IP where the sensor will send data packets"/>
  <arg name="lidar_port" default="0" doc="Port to which the sensor should send lidar data"/>
  <arg name="imu_port" default="0" doc="Port to which the sensor should send imu data"/>
  <arg name="metadata_out" default="" doc="Output Ouster config file"/>
  <!-- lidar_mode must be linked to frequency / rpm -->
  <arg name="lidar_mode" default="1024x10" doc="Lidar mode : 1024x10, 2048x10, 1024x20, 2048x20"/>
  <!-- /!\ rpm and timestamp_first_packet are also used to generate approximate point-wise timestamps as 'time' field is not usable. -->
  <arg name="rpm" default="600." doc="Ouster sensor spinning speed."/>
  <arg name="timestamp_first_packet" default="false" doc="If Ouster timestamping is based on the first or last packet of each scan."/>

  <!-- Sim Time, used when replaying rosbag files (with mandatory option 'clock') -->
  <param name="/use_sim_time" value="$(arg replay)"/>

  <!-- Rviz-->
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_slam)/params/slam.rviz"/>
  </group>

  <!-- Ouster driver-->
  <group if="$(arg os_driver)">
    <!-- Replay -->
    <group if="$(arg replay)">
      <node pkg="ouster_ros" name="os_node" type="os_node" output="screen" required="true">
        <param name="~/replay" value="true"/>
        <param name="~/metadata" value="$(find ouster_ros)/../tests/metadata/1_14_beta_os1-991937000062-64_legacy.json"/>
      </node>
    </group>

    <!-- Live -->
    <group unless="$(arg replay)">
      <node pkg="ouster_ros" name="os_node" type="os_node" output="screen" required="true">
        <param name="~/metadata" value="$(arg metadata_out)"/>
        <param name="~/sensor_hostname" value="$(arg sensor_hostname)"/>
        <param name="~/udp_dest" value="$(arg udp_dest)"/>
        <param name="~/lidar_port" value="$(arg lidar_port)"/>
        <param name="~/imu_port" value="$(arg imu_port)"/>
        <param name="~/lidar_mode" value="$(arg lidar_mode)"/>
        <param name="~/timestamp_mode" value="TIME_FROM_INTERNAL_OSC"/>
        <param name="~/udp_profile_lidar" value="LEGACY"/>
      </node>
    </group>

    <node pkg="ouster_ros" type="os_cloud_node" name="os_cloud_node" output="screen" required="true">
      <remap from="~/os_config" to="/os_node/os_config"/>
      <remap from="~/lidar_packets" to="/os_node/lidar_packets"/>
      <remap from="~/imu_packets" to="/os_node/imu_packets"/>
    </node>
  </group>

  <!-- Ouster points conversion -->
  <node name="ouster_conversion" pkg="lidar_conversions" type="ouster_conversion_node" output="screen">
    <param name="rpm" value="$(arg rpm)"/>
    <param name="timestamp_first_packet" value="$(arg timestamp_first_packet)"/>
  </node>

  <!-- LiDAR SLAM : compute TF slam_init -> Ouster -->
  <node name="lidar_slam" pkg="lidar_slam" type="lidar_slam_node" output="screen">
    <rosparam if="$(arg outdoor)" file="$(find lidar_slam)/params/slam_config_outdoor.yaml" command="load"/>
    <rosparam unless="$(arg outdoor)" file="$(find lidar_slam)/params/slam_config_indoor.yaml" command="load"/>
    <param name="gps/use_gps" value="$(arg gps)"/>
    <remap from="tag_detections" to="$(arg tags_topic)"/>
  </node>

  <!-- Launch GPS/UTM conversions nodes -->
  <group if="$(arg gps)">
    <include file="$(find lidar_slam)/launch/gps_conversions.launch"/>
  </group>

  <!-- Moving base coordinates systems description            tf_FROM_to_TO           X  Y  Z  rZ rY rX  FROM     TO -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_lidar" args="0  0  0  0  0  0 base_link os_sensor"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_gps"   args="0  0  0  0  0  0 base_link gps"/>

</launch>