<launch>

  <!-- Args -->
  <arg name="use_sim_time" default="true" doc="Use simulation time when replaying rosbags with '--clock' option."/>
  <arg name="rviz" default="true" doc="Visualize results with RViz."/>
  <arg name="gps" default="false" doc="If true, use GPS data to calibrate SLAM output. Otherwise, provide calibration."/>
  <arg name="lidar_frequency" default="10.0" doc="Frequency of the Lidar scanner in Hertz (Number of frames per second). 
  Only used to generate approximate point-wise timestamps when using undistortion if 'time' field is invalid and not usable)"/>

  <!-- Sim Time, used when replaying rosbag files (with mandatory option 'clock') -->
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Run Rviz-->
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_slam)/params/slam.rviz"/>
  </group>
  
  <!-- Conversion -->
  <node name="velodyne_to_slam" pkg="velodyne_to_slam" type="velodyne_to_slam_node" output="screen">
  <param name="lidar_frequency" value="$(arg lidar_frequency)"/>
  </node>

  <!-- LiDAR SLAM : compute TF slam_init -> velodyne -->
  <node name="lidar_slam" pkg="lidar_slam" type="lidar_slam_node" output="screen">
    <rosparam file="$(find lidar_slam)/params/slam_config.yaml" command="load"/>
    <param name="gps/use_gps" value="$(arg gps)"/>
  </node>

  <!-- Launch GPS/UTM conversions nodes -->
  <include file="$(find lidar_slam)/launch/gps_conversions.launch"/>

  <!-- If GPS/SLAM auto-calibration is disabled, provide TF to link map (=1st GPS pose in UTM projection) and odom (=1st SLAM pose) frames -->
  <group unless="$(arg gps)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map_to_odom" args="0 0 0 0 0 0 map odom"/>
  </group>

  <!-- Moving base coordinates systems description            tf_FROM_to_TO           X  Y  Z  rZ rY rX  FROM     TO -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_lidar" args="0  0  0  0  0  0 base_link lidar"/> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_gps"   args="0  0  0  0  0  0 base_link gps"/> -->

</launch>